@model TechJobsPersistentAutograded.ViewModels.AddJobViewModel

<h1>Add a Job</h1>


<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">

    @*inputting job title*@
    <div class="form-group">

        <label>Job Title</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    @*selecting employer*@
    <div class="form-group">
        <label asp-for="EmployerId">Employer Name</label>
        <select asp-for="EmployerId" asp-items="@Model.Employers" class="form-control"></select>
        <p>
            <a asp-controller="Employer" asp-action="Add">Add Employer</a>
        </p>
    </div>

    @*selecting job skills via checkbox(es)*@
    <div class="form-group">
        <label asp-for="Id">Job Skills</label>
          @foreach(SelectListItem item in @Model.Skills)
            {
                <li>
                    <input type="checkbox" name="selectedSkills" value=@item.Value />@item.Text
                </li>
            }

        @*Add a link to the form to add skills to the database so if a user doesn’t see the skills they need, they can add skills themselves!*@
        <p>
            <a asp-controller="Skill" asp-action="Add">Add Skill</a>
        </p>
    </div>

    <p></p>
    <input type="submit" value="Add Job" />

</form>